<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервис временно недоступен</title>
    <style>
        body {
            background-color: #f6e2c9;
            font-family: 'Comic Sans MS', cursive;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #c21807;
            font-size: 28px;
        }
        p {
            color: #333;
            font-size: 18px;
            margin-top: 20px;
        }
        .pizza-image {
            max-width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Возникли проблемы с клиентским сервисом</h1>
<p>Пожалуйста, сообщите разработчикам о возникшей проблеме.</p>
<img th:src="@{https://media.dodostatic.net/image/r:292x292/11EE7D612FC7B7FCA5BE822752BEE1E5.jpg}" alt="Изображение пиццы" class="pizza-image"> <!-- Добавьте ссылку на изображение пиццы -->
</body>
</html>
