<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пиццерия - Временное техническое обслуживание</title>
    <style>
        body {
            background-color: #fde8cd;
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #8b0000;
            font-size: 32px;
        }
        .pizza-img {
            max-width: 300px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Простите, сервис временно не доступен</h1>
<p>Приносим извинения за временные неудобства. Мы работаем над улучшением сервиса.</p>
<img class="pizza-img" th:src="@{https://media.dodostatic.net/image/r:292x292/11EE7D612FC7B7FCA5BE822752BEE1E5.jpg}" alt="Изображение пиццы">
</body>
</html>
